{{#each sites}}
    <li class="js-site-item">{{url}}
        <img class="js-site-img" src="{{img}}" alt="site image">
        <p class="site-description">{{description}}</p>
        <button class="js-remove-item-btn mdc-btn">remove</button>
    </li>
{{/each}}
