* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  body {
    padding: 50px;
    font-family: "PT Sans", sans-serif;
  }
  
  .menu {
    display: flex;
    justify-content: center;
    list-style: none;
  }
  
  .menu-link {
    display: block;
    padding: 20px 25px;
    font-size: 24px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    color: #212121;
    transition: background-color 0.1s linear;
  }
  
  .menu-link-active {
    background-color: #FF4081;
    color: #ffffff;
  }
  
  