img {
    display: block;
    max-width: 100%;
    height: auto;
    cursor: pointer;
  }
  
  .images {
    display: grid;
    width: 656px;
    margin: 0 auto;
    padding: 16px;
    display: grid;
    grid-template-columns: repeat(2, 320px);
    grid-gap: 8px;
    list-style: none;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2),
      0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
  }
  
  