* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  body {
    font-family: "Poppins", sans-serif;
    text-align: center;
    padding-top: 50px;
  }
  
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(37, 45, 58, 0.7);
  }
  
  .modal-hidden {
    display: none;
  }
  
  .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 650px;
    min-height: 380px;
    padding: 50px 80px;
    background-color: #ffffff;
    box-shadow: 0 4px 4px rgba(1, 2, 2, 0.2);
    border-radius: 2px;
  }
  
  .close-btn {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    width: 45px;
    height: 45px;
    background-image: url("https://image.flaticon.com/icons/png/512/64/64146.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: transform 0.1s linear;
  }
  
  .close-btn:hover {
    transform: rotate(90deg);
  }
  
  .modal-title {
    margin-bottom: 15px;
    color: #2a2a2a;
    font-size: 30px;
    font-weight: 600;
    line-height: 42px;
    text-transform: uppercase;
  }
  
  .modal-text {
    margin-bottom: 15px;
    color: #676767;
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    text-align: center;
  }
  
  .sub-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .sub-form-input {
    display: inline-block;
    margin-bottom: 15px;
    border: none;
    width: 360px;
    height: 42px;
    padding: 10px;
    background-color: #e9e9e9;
    font-family: inherit;
    font-size: 14px;
    color: #676767;
  }
  
  .sub-form-input:focus {
    outline-color: #2a2a2a;
  }
  
  .sub-form-input::placeholder {
    color: #ababab;
    font-family: inherit;
    font-size: 13px;
    font-weight: 400;
    line-height: 25px;
  }
  
  .sub-form-btn {
    border: none;
    width: 115px;
    height: 42px;
    background-color: #2a2a2a;
    border-radius: 3px;
    box-shadow: 0 4px 10px rgba(1, 2, 2, 0.2);
    color: #ffffff;
    font-size: 13px;
    font-weight: 600;
    line-height: 74px;
    text-transform: uppercase;
    line-height: 42px;
    cursor: pointer;
    font-family: inherit;
  }
  
  .btn {
    border: none;
    width: 115px;
    height: 42px;
    background-color: #2a2a2a;
    border-radius: 3px;
    box-shadow: 0 4px 10px rgba(1, 2, 2, 0.2);
    color: #ffffff;
    font-size: 13px;
    font-weight: 600;
    line-height: 74px;
    text-transform: uppercase;
    line-height: 42px;
    cursor: pointer;
    font-family: inherit;
  }
  
  