@font-face {
    font-family: "localCalibri";
    src: url('../fonts/calibri.ttf')
}

.mainHeader {
    font-family: 'Courier New'; 
    text-align: center;  
    font-size: 18px;
    color: #003399;
}

.secondaryHeader {
    font-family: 'Courier New'; 
    text-align: left;  
    font-size: 18px;
}

.blueFont {
    color: #003399;
}

p {
    font-family: 'localCalibri'; 
    font-size: 11px;
}

#redParagraph {
    color: #ff0000;
    text-decoration: underline;
}

#textSize14 {
    font-size: 14px;
}

.rightAlign {
    text-align: right
}

div {
    width: 461px;
    margin-left: 50px;
    margin-top:50px;
}