body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
  }
  
  .button {
    display: inline-flex;
    padding: 16px 32px;
    border: none;
    margin: 0 4px;
    border-radius: 2px;
    font-size: 16px;
    outline: 0;
    text-transform: uppercase;
    font-weight: 400;
    font-family: inherit;
    background-color: #f44336;
    color: #fff;
    cursor: pointer;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2),
      0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  }
  
  .button:active {
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
      0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  