* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

.header {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    padding: 28px 0 28px; 
    justify-content: space-between;
    align-items: center;
}

.logo {
    animation: flashing-icon 2s linear;
}

@keyframes flashing-icon {
    0% {
        opacity: 0;
    } 
    35% {
        opacity: 1;
    }
    65% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.nav-list {
    display: flex; 
    align-items: center;
}

.menu-item {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;   
}

.menu-item > a {
    text-decoration: none;
    color: #95e1d3;
    font-size: 14px;
    margin-left: 50px;
    display: inline-block;
}

.menu-item > a:after {
    background-color: #f38181;;
    display: block;
    content: "";
    margin-top:5px;
    height: 3px;
    width: 0%;  
}

.menu-item > a:hover:after {
    transition: width 0.5s linear;
    width: 100%;
}

.menu-item > a:hover {
    transition: color 0.5s linear;
    color: #f38181;
}

.services-section {
    margin-top: 70px;

}

.main{
    width: 1200px;
    margin: auto;
}

.subsidiary-section-title {
    text-align: center;
    font-size: 24px;
    font-family: 'Kaushan Script', cursive;
    color: #333333;
}

.section-title {
    text-align: center;
    font-size: 30px;
    color: #333333;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 15px;
    
}

.section-title::after {
    display: block;
    content: "";
    width: 60px;
    padding: 2px 0;
    margin: 40px auto;
    background: #f38181;
}

.services-list {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: space-around;
    margin-top: 40px;
}

.services-item {
    flex-basis: 295px;
    padding-left:60px;
    
}

.services-item:not(:nth-child(n+3)) {
    margin-bottom: 95px;
}

.services-title::before {
    content: "";
    background-image: url("../img/ALARM.png");
    background-repeat: no-repeat;
    height: 32px;
    width: 32px;
    display: block;
    position: absolute;
    transform:translate(-58px, 4px);
}

.design-title:before {
    background-image: url("../img/web-designe-logo.png");
}

.creativity-title:before {
    background-image: url("../img/creativity-logo.png");
}

.seo-title:before {
    background-image: url("../img/seo-logo.png");
}

.css-title:before {
    background-image: url("../img/css-logo.png");
}

.digital-title:before {
    background-image: url("../img/digital-logo.png");
}

.services-title {
    color: #333333;
    font-size: 14px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}

.services-info {
    color: #999999;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    padding-top: 15px;
}

.team-section {
    margin-top: 95px;
}
.team-info {
    width: 960px;
    color: #999999;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    text-align: center;
    margin: auto;
}

.team-list {
    display: flex;
    justify-content: space-between;
    margin-top: 90px;
}

.employee-photo {
    height: 470px;
    width: 380px;
    display: block;   
}

.name {
    color: #333333;
    font-size: 14px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin-top: 20px;
}

.position {
    color: #999999;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-style: italic;
    font-weight: 300;
    text-align: center;
    margin-top:10px;
}

.social-net-list {
    position: absolute;
    height: 470px;
    width: 380px;    
    background-image:linear-gradient( 90deg, rgba(252,227,138, .8) 0%, rgba(243,129,129, .8) 100%);
    display: none;
    justify-content:center;
    align-items: center;
}

.menu-wrapper:hover .social-net-list {
    display:flex;
}

.social-ref {
    height: 56px;
    width: 56px;
    background-color: #fce38a;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
}

.social-net-item:not(:last-child) > .social-ref {
    border-right: 2px solid #f9bd87;
}

.facebook-icon {
    background-image: url("../img/facebook-icon.png");
}

.twitter-icon {
    background-image: url("../img/twitter-icon.png");
}

.pinterest-icon {
    background-image: url("../img/pinterest-icon.png");
}

.instagram-icon {
    background-image: url("../img/instagram-icon.png");
}

.social-ref:hover {
    transition: background-color 0.2s linear;
    background-color: #95e1d3;
}

.menu-wrapper:hover { 
    transition: box-shadow .5s linear, transform .5s linear;
    transform: translate(-10px, -10px);
    box-shadow: 10px 10px #95e1d3;
}

.footer {
    margin: 80px auto 0;
    width: 1200px;
    border-top: 1px solid lightgrey;
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
}

.copyright {
    color: #333333;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 3.5;
}

.copyright > span {
    color:#f38181;
}

.email-submit {
    display: flex;
}

.email-input {
    width: 230px;
    padding: 5px 0;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-style: italic;
    font-weight: 300;
    color: #cccccc;
}

.email-button {
    width: 150px;
    background-color: #95e1d3;
    border: none;
    color: white;
    padding: 10px;
    text-decoration: none;
    cursor: pointer;
    font-size: 14px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    border-right: none;
}