* {
    font-family: PT Sans Narrow;
}

body {
    background: #F5F1EE;
}

.main-block {
    margin: 100px auto;
    background: whitesmoke;
    width: 220px;
    height: 285px;
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, .1)
}

p {
    margin-left: 16px;
    font-weight: bold;
    margin-bottom: 9px;
    font-size: 14px;
}

.product-img {
    width: 220px;
    height: 165px;
}

#product-name {
    text-transform: uppercase;
}

ul { 
    font-size: 0; 
    padding-left: 16px;
} 

li {
    display: inline-block;
}

.price-tag {
    height: 42px;
    width: 115px;
    background: #E6E6E6;
    vertical-align: top;
    text-align: center;

}

.buying-button {
    height: 42px;
    width: 74px;
    background: black;
    border: black;
    color: white;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
}

#price-tag-text {
   margin-top: 11px;
   display: block;
   text-transform: uppercase;
   font-size: 14px;
   font-weight: bold;
}