* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #626262;
}

.menu-item > a:hover {
    color: #44b6f5;
}

ul {
    list-style: none;
    width: 570px;
    margin: 0 auto;
    padding: 70px 0 95px;

}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.header {
    width: 1200px;
    margin: 0 auto;
}

.menu-item {
    float: left;
    font-size: 14px;
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
}

.photo {
    margin-left: 118px;
}

.music {
    margin-left: 100px;
}

.travel {
    margin-left: 90px;
}

.main {
    width: 1200px;
    margin: 0 auto;
}

.article-wrapping {
    padding-left:90px;

}

.article {
    float: left;
    margin-left: 60px;
}

.main-paragraph {
    width: 420px;
    color: #626262;
    font-size: 14px;
    font-family: 'Playfair Display', serif;
    margin-bottom: 132px;
    line-height: 1.7;
}

.main-img {
    margin-bottom: 25px;
}

.img-caption {
    font-size: 14px;
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    color: #b4ad9e;
    margin-bottom: 25px;
}

.article-header {
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    color: #626262;
    margin-bottom: 35px;
    font-weight: 300;
}

.bottom-paragraph {
    margin-bottom: 0;
}

.footer-button{
    display: block;
    font-family: 'Playfair Display', serif;
    font-size: 24px;
    padding: 15px 30px;
    background: white;
    color: #626262;
    border: 1px solid #626262;
    margin: 50px auto 60px; 
}