@font-face {
    font-family: 'Montserrat-l';       
    src: url('../fonts/montserrat-v12-latin-regular.woff'); 
    font-weight: 400;              
    font-style: normal;
  }
  
@font-face {
    font-family: 'Montserrat-l';      
    src: url('../fonts/montserrat-v12-latin-700.woff'); 
    font-weight: 700;              
    font-style: normal;
  }

@font-face {
      font-family: 'DroidSerif-l';
      src: url('../fonts/droid-serif.italic.woff2');
      font-weight: 400;              
      font-style: italic;
  }

@font-face {
      font-family: 'Wisdom-Script-l';
      src: url('../fonts/wisdom_script_aj.woff2');
  }

@font-face {
      font-family: 'RobotoSlab-l';
      src: url('../fonts/roboto-slab-v7-latin-700.woff2');
      font-weight: 700;              
      font-style: normal;
  }

  @font-face {
    font-family: 'RobotoSlab-l';
    src: url('../fonts/roboto-slab-v7-latin-regular.woff2');
    font-weight: 400;              
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.header {
    margin: 0 auto;
    width: 950px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100px;
    justify-content: space-between;
}

.logo > a {
    color: #fed136;
    font-size: 26px;
    font-family: 'Wisdom-Script-l';
}


.nav-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}


.nav-items {
    margin-left: 40px;
}

.nav-items-ref {
    color: #222222;
    font-size: 14px;
    text-transform: uppercase;
    font-family: 'Montserrat-l';
    font-weight: 400;
}

.nav-items-ref:hover {
    color: #fed136;
}

.services-section {
    width: 950px;
    margin: 70px auto 0;
}

.serv-section-title {
    margin: 0 0 25px;
    font-size: 40px;
    text-align: center;
    color: #222222;
    text-transform: uppercase;
    font-family: 'Montserrat-l';
    font-weight: 700;
}

.serv-section-subtitle {
    font-size: 16px;
    font-style: italic;
    color: #777777;
    text-align: center;
    font-family: 'DroidSerif-l';
    font-style: italic;

}

.sevices-list {
    display: flex;
    justify-content: space-between;
    padding: 100px 0 0; 
    margin-top: 70px;
}

.services-item {
    width: 290px;
    position: relative;
}

.services-title::before {
    content: "";
    position: absolute;
    display: block;
    width: 74px;
    height: 74px;
    background-position: center;
    background-repeat: no-repeat;
    transform: translate(106px, -100px);
}

.commerce-icon::before {
    background-image: url("../img/Icon-Basket.png"), url("../img/Circle-2.png"); 
}

.responsive-web-icon:before {
    background-image: url("../img/Icon-Laptop.png"), url("../img/Circle-2.png"); 
}

.web-security-icon:before {
    background-image: url("../img/Icon-Locked.png"), url("../img/Circle-2.png"); 
}

.services-title {
    font-size: 18px;
    font-weight: bold;
    color: #222222;
    text-align: center;
    padding-bottom: 15px;
    font-family: 'RobotoSlab-l';
    font-weight: 700;
}

.services-info {
    color: #777777;
    font-size: 14px;
    text-align: center;
    font-family: 'RobotoSlab-l';
    font-weight: 400;

}

.contuct-us-section {
    width: 100%;
    margin: 115px auto 0;
    background-color: #222222;
    background-image: url("../img/map-Image.png");
    background-repeat: no-repeat;
    background-position: 100% 90%; 
}

.contuct-us-title {
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    text-align: center;
    padding-top: 100px;
    font-family: 'Montserrat-l';
    font-weight: 700;
}

.cont-title-info {
    font-size: 16px;
    color: #777777;
    text-align: center;
    margin-top: 25px; 
    font-style: italic;
    font-family: 'DroidSerif-l';
}

.send-massage-form {
    width: 950px;
    margin: 75px auto 0;
    padding-bottom: 110px;
}

.input-wrapper {
    display: flex;
    justify-content: space-between;;
    flex-wrap: wrap;
}

.input-fild-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.data-field::placeholder {
    text-indent: 20px;
    font-family: 'Montserrat-l';
    font-weight: 700;
    color: #bbbbbb;
    text-transform: uppercase;
    font-size: 14px;
}

.data-field {
    border:none;
    border-radius: 2px;
    width: 460px;
    padding: 20px 0;
    margin-bottom:25px;
    text-indent: 20px;
    color: #bbbbbb;
    font-size: 14px;
    font-family: 'Montserrat-l';
    font-weight: 400;
}

.data-field:focus {
    color: #222222;
}

.field-item > input[name='user_name']:valid,
.field-item > input[name='user_email']:valid,
.message-area:valid {
    outline: 4px dotted greenyellow;
    outline-width: thin;
}

.field-item > input[name='user_name']:invalid,
.field-item > input[name='user_email']:invalid,
.message-area:invalid {
    outline: 4px dotted red;
    outline-width: thin;
}

.message-area {
    resize: none;
}

.message-btn {
    width: 240px;
    border-radius: 3px;
    border:none;
    background-color: rgb(254, 209, 54);
    margin: 0 auto;
    display: block;
    font-size: 18px;
    color: white;
    padding: 20px 0;
    cursor: pointer; 
    font-family: 'Montserrat-l';
    font-weight: 700;
    text-transform: uppercase;
}