* {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.intro-section {
    background-image: url("../img/bg-s.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.intro-section__nav {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 200px;
    padding-top: 10px;
}

.logo {
    order: 1;
    margin-top: 90px;
}

.logo__link {
    font-size: 20px;
    color: white;
}

.nav__registration-btn {
    color: white;
    width: 85px;
    background: transparent;
    padding: 10px 0;
    border: 2px solid white;
    border-radius: 25px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

.nav__registration-btn:last-child {
    margin-left: 10px;
}

.nav__registration-btn:hover {
    border: none;
}

.center-wrapper {
    width: 295px;
    margin: 30px auto 0;
    padding-bottom: 130px;
}

.intro-section__title {
    text-transform: uppercase;
    color: white;
    font-size: 30px;
    margin: 0 auto;
    text-align: center;
}

.intro-section__subtitle {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: white;
    width: 220px;
    text-align: center;
    margin: 0 auto;
}

.team-section__see-more-btn,
.intro-section__find-btn {
    font-size: 14px;
    background: transparent;
    border-radius: 25px;
    display: block;
    padding: 10px 0;
    margin: 0 auto;
    font-weight: bold;
    cursor: pointer;
}

._red_bottom-btn {
    border: 2px solid #ff4e50;
    color: #ff4e50;
    width: 280px;
    margin-top: 25px;
}

._red_bottom-btn:hover {
    background: #ff4e50;
    color: white;
}

._red_top-btn {
    border: 2px solid #ff4e50;
    color: white;
    background: #ff4e50;
    width: 280px;
    margin: 25px auto;
}

._red_top-btn:hover {
    background: transparent;
    color: #ff4e50;
}

.team-section {
    margin: 40px auto 30px;
}

.team-section__title {
    font-size: 22px;
    font-weight: 700;
    text-align: center;
}

.team-list {
    margin: 20px auto 0;
    width: 320px;
}

.team-list__item {
    align-items: center;
    width: 205px;
    margin: 25px auto 0;
}

.team-list__img {
   margin: 0 auto;
   display: block;
   height: 121px;
   width: 121px;
}

.team-list__name {
    margin-top: 10px;
    font-size: 14px;
    font-weight: 700;
    text-transform: capitalize;
    text-align: center;
    position: relative;
}

.img-wrapper:after{
    content: "";
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    height: 41px;
    width: 41px;
    display: block;
    transform: translate(135px, -50px);
}

._icon_tv::after {
    background-image: url("../img/Shape-tv.png");
}

._icon_beaker:after {
    background-image: url("../img/Shape-battle.png");
}

._icon_cup:after {
    background-image: url('../img/Shape-cup.png')
}

._icon_plane:after {
    background-image: url('../img/Shape-plane.png')
}


.team-list__description {
    margin-top: 10px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: #666666;
    font-size: 14px;
}

@media (min-width: 768px) {
    .intro-section {
        background-image: url("../img/bg-m.png");
    }

    .logo {
        order: 0;
        margin-top: 0;
    }
    
    .intro-section__nav {
        width: 680px;
        justify-content: space-between;
        padding-top: 30px;
    }

    .center-wrapper {
        width: 530px;
        margin-top: 145px;
        padding-bottom: 190px;
    }

    .intro-section__title {
        font-size: 52px;
    }

    .intro-section__subtitle {
        width: 100%;
        font-size: 24px;
        margin-top: 30px;
    }

    ._red_top-btn {
        margin-top: 35px;
        width: 230px;
    }

    .team-section {
        margin: 40px 0;
    }

    .team-list {
        width: 500px;
        display: flex;
        flex-wrap: wrap;
    }

    ._red_bottom-btn {
        width: 230px;
    }

    .person-two {
        order: 2;
    }

    .person-three {
        order: 1;
    }

    .person-four {
        order: 3;
    }
}

@media (min-width: 1400px) {
    .intro-section {
        background-image: url('../img/bg-l.jpg');
    }

    .intro-section__nav {
        width: 945px;
        align-items: center;
    }

    .team-list {
        width: 950px;
    }

    .team-section {
        margin: 60px 0;
    }
}