* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

ul {
    list-style: none;
}

li {
    text-decoration: none;
}

body {
    width: 1600px;
    margin: 0 auto;
}

.logo {
    float: left;
}

.menu-item {
    float: right;
    line-height: 3;
    margin-left: 30px;
}

.menu-item > a {
    text-decoration: none;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 14px;
    color: black;
}

.menu-item a:hover {
    color: #1abc9c;
}

.top-section {
    background: url("../img/main-background.jpg");
    position: relative;
}

/* .top-section::before {
    content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: linear-gradient(to bottom right,rgba(0, 0, 0,.4), rgba(0, 0, 0, .4));	
} */

header {
    width: 1110px;
    margin: 0 auto;
    padding: 20px 0 15px;
}

.top-section-text-wrapper {
    padding: 198px 0 290px 430px;
}

.top-section-header {
    font-size: 60px;
    color: white;
    font-weight: 900;
}

.top-section-info {
    font-size: 24px;
    font-weight: 300;
    color: white;
}

.top-section-left-btn, 
.top-section-right-btn {
    width: 104px;
    height: 104px;
    border: none;
    cursor: pointer; 
    position: absolute;
    top: 38%;
}

.top-section-left-btn {
    background: url(../img/<.png);
    background-repeat: no-repeat; 
    background-position: center;
    background-color: rgba(26,188,156, .5);
    left: 15%;
}

.top-section-right-btn {
    background: url(../img/>.png);
    background-repeat: no-repeat;
    background-position: center; 
    background-color: rgba(26,188,156, .5);
    right: 15%;
}

.top-section-left-btn:hover,
.top-section-right-btn:hover {
    background-color: #1abc9c;
}

.collection-section {
    background-color: #e9f0fd;
}

.colection-section-header {
    font-size: 48px;
    color: #515151;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    padding-top: 95px;
}

.colection-section-header::after {
    display: block;
    content: "";
    width: 160px;
    padding: 3px 0;
    background:  #1abc9c;
    margin: 25px auto;  
}

.product-list {
    width: 1113px;
    margin: 70px auto 0;
    padding-bottom:95px;
}

.product-item {
    width:255px;
    float: left;
    position: relative;
}

.product-item > img {
    width: 255px;
    height: 280px;
    display: block;
}

.buy-btn {
    width: 255px;
    height: 40px;
    background: #323232;
    border: none;
    float: left;
    line-height: 2.2;
    font-size: 18px;
    color: white;
    text-align: left;
    text-indent: 10px;
    text-transform: uppercase;
    position: relative;
    cursor: pointer;
}

.buy-btn::after {
    background: #8c8c8c;
    height: 40px;
    width: 55px;
    content: "$";
    float: right;
}

.product-price {
    position: absolute;
    right: 5%;
}

.product-item:not(:nth-child(1)) {
    margin-left: 30px;
}

.product-item:hover .buy-btn {
    background: #1abc9c;
}

.product-item:hover .buy-btn::after {
    background: #7fd9c7;
}

.add-to-cart-btn {
    height: 48px;
    width: 164px;
    color: white;
    border: 1px solid white;
    font-size: 14px;
    text-transform: uppercase;
    background: url("../img/add-to-card.png");
    background-repeat: no-repeat;
    background-color: #323232;
    background-position: left;
    position: absolute;
    top: 50%;
    left:15%;
    padding-left: 35px;
    background-position-x: 13px;
}

.like-btn {
    height: 48px;
    width: 48px;
    border: 1px solid white;
    background: url("../img/like-btn.png");
    background-repeat: no-repeat;
    background-position: center; 
    position: absolute;
    top: 29%;
    left: 15%;

}

.mix-btn {
    height: 48px;
    width: 48px;
    border: 1px solid white;
    background: url("../img/mix-btn.png");
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 29%;
    left: 93px;
}

.set-aside-btn {
    height: 48px;
    width: 48px;
    border: 1px solid white;
    background: url("../img/set-aside-btn.png");
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top:29%;
    left: 64%;
}

.menu {
    display: none;
    position: absolute; 
    border: 10px solid white;
    width: 235px;
    height: 260px;
    background: rgba(0, 0, 0, 0.5);
}

.product-item:hover > .menu { 
    display: block; 
}

.product-btn:hover {
    background-color: #1abc9c;
    border: #1abc9c;
    cursor: pointer;
}

.copyright {
    background: #323232;
    color: white;
    text-align: center;
    font-size: 16px;
    padding: 35px 0;
}

.copyright > span {
    color: #46bfa9;
}
