@font-face {
    font-family: "title-font";
    src: url("../fonts/Roboto-Thin.ttf")
}

@font-face {
    font-family: "link-font";
    src: url("../fonts/Roboto-Regular.ttf")
}

.main-block{
    height: 427px;
    width: 422px;
    background: white;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, .3);
    margin: 100px auto;
    border-radius: 2px 2px 2px 2px;
}

.main-img {
    height: 317px;
    width: 422px;
    margin: 0 auto;
    border-radius: 2px 2px 0 0;
}

a {
    margin-left: 25px;
    font-family: link-font;
    text-decoration: none;
    color: #1FB5EB;
    font-size: 15px;
}

h1 {
    font-family: title-font;
    font-size: 24px;
    margin: 25px 25px 10px 25px;
    display: inline-block;
}

button {
    border: 0;
    margin-left:52%; 
    background: white;
}

.button-img {
    height: 16px;
    width: 14px;
}