ul {
    list-style: none;
}


.fullview {
    width: 98%;
    height: 75vh;
    padding: 8px;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    color: #212121;
    margin: 15px auto 0;
    overflow: hidden;
    overflow-y: scroll;
}

/* .fullview::-webkit-scrollbar { width: 5px; } */

.fullview > img {
    display: block;
    margin: auto;
    width: 100%;
    height: auto;
    object-fit:cover;
    cursor: row-resize;
}

.preview {
    display: flex;
    width: 98%;
    height: 18vh;
    padding: 8px;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    color: #212121;
    margin: 10px auto 0;
    overflow: hidden;
    overflow-x: scroll;
}
/* 
.preview::-webkit-scrollbar { width: 5px; } */

.preview img {
    display: block;
    margin-right: 10px;
    width: 320px;
    height: 100%;
    object-fit:cover;
    cursor: pointer;

}

.imageShadow {
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4), 0 4px 8px rgba(0, 0, 0, 0.7);
}

