footer {
    padding: 2rem;
    text-align: center;
    background-color: #1F273A;
    color: rgba(255, 255, 255, 0.75);
  }
  
  #icons a {
    font-size: 2.4em;
    padding: 0 0.3rem;
    color: inherit;
    text-decoration: none;
  }
  
  #copyright {
    padding-top: 1rem;
    font-size: 1.3em;
  }