body {
    font-family: "Roboto", sans-serif;
    background: #fff;
  }
  
  .container {
    padding-top: 20px;
  }
  
  .mdc-btn {
    min-width: 88px;
    height: 36px;
    padding: 0 16px;
    border: 0;
    outline: 0;
    border-radius: 2px;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    background-color: #004c40;
    cursor: pointer;
    box-shadow: 0 4px 4px 0 rgba(#414141, 0.3);
  }
    .mdc-btn:hover {
        box-shadow: 0 2px 3px rgba(0, 0, 0, 0.6), 0 4px 8px rgba(0, 0, 0, 0.6);
        background-color: #00796b;
    }
 
  
  .search-form {
    /* display: flex;
    justify-content: center;*/
    padding: 4px 20px; 
    display: inline-block;
  }
  
  .input-user-id, 
  .input-user-id-remove,
  .input-user-id-update  {
    margin-right: 12px;
    padding: 4px;
    outline: 0;
    border: 0;
    color: #263238;
    font-size: 14px;
    background-color: transparent;
    border-bottom: 2px solid #00796b;
    width: 230px;
}
.input-user-id::placeholder, 
.input-user-id-remove::placeholder,
.input-user-id-update::placeholder{
      color: #616161;
}
  

ul {
    list-style: none;
}

.js-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
   align-content: center;
}


.js-list-item {
    width: 16%;
    padding: 20px 20px;
    margin-bottom: 25px;
    border: 0;
    outline: 0;
    border-radius: 2px;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    background-color: #004c40;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;

}

.js-list-item:hover {
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.6), 0 4px 8px rgba(0, 0, 0, 0.6);
    background-color: #00796b;

}

.error {
    width: 16%;
    padding: 20px 20px;
    margin-bottom: 25px;
    border: 0;
    outline: 0;
    border-radius: 2px;
    color: #000;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    background-color: #811616;
    text-align: center;
}

.succsess {
    width: 16%;
    padding: 20px 20px;
    margin-bottom: 25px;
    border: 0;
    outline: 0;
    border-radius: 2px;
    color: #000;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    background-color: #c4b31c;
    text-align: center;
    
}