.button {
    display: block;
    margin: 10px auto;
    padding: 15px 15%;
    font-size: 17px;
    background: paleturquoise;
    border: none;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3), 0 4px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    border-radius: 5px;
}

.button:hover {
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.6), 0 4px 8px rgba(0, 0, 0, 0.6);
    
}

