.owerlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5)
}

.modal {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35%;
    height: 35%;
    background-color: paleturquoise;
    border-radius: 5px;
    padding: 30px;

}

.close {
    position: absolute;
    top: 0;
    right: 0;
    font-weight: 700px;
    font-size: 17px;
    padding: 5px;
    cursor: pointer;
}


.form > input {
  display: block;
  margin: 10px auto 20px;
  padding: 7px;
  width: 45%;
  border: paleturquoise 1px solid;
  border-radius: 5px;
  font-size: 15px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2), 0 4px 8px rgba(0, 0, 0, 0.2);
}

.form > input::placeholder {
  font-size: 12px;
  text-transform: uppercase;
}

.form > input:hover {
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3), 0 4px 8px rgba(0, 0, 0, 0.3);

}