* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(51, 51, 51);
}

.main-block {
    height: 828px;
    width: 560px;
    background: rgb(238, 238, 238);
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0px 0px 15px 1px rgba(255, 255, 255, 0.8);  
}

.main-photo {
    height: 240px;
    width: 240px;
    display: block;
    margin: 25px auto;
    border-radius: 100%;
    border-top: 15px solid rgb(204, 204, 204);
    border-bottom: 15px solid rgb(204, 204, 204);
    border-left: 9px solid rgb(238, 238, 238);
    border-right: 9px solid rgb(238, 238, 238);
    box-shadow: 1px 0px 10px 0px rgba(172, 169, 169, 0.7);
}

.main-block h1 {
    text-align: center;
    font-size: 25px;
    margin: 10px;
    text-transform: uppercase; 
}

#introduction {
    text-align: center;
    margin: 5px 40px 20px 40px;
    font-size: 13px;
}

.skills-block {
    background: rgb(62, 62, 62);
    width: auto;
    height: 245px;
    margin: 10px 40px;
}

.skills-block h3{
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 17px;
    margin: 8px auto;
}

#about-me-text {
    text-align: justify;
    font-size: 13px;
    margin:16px 40px;
}

#signature-text {
    text-align: right;
    font-size: 14px;
    margin-right: 40px;
    letter-spacing: 4px;
    text-transform: capitalize;
}

.skills-now-block {
    float: left;
    height: 203px;
    width: 237px;
    background: rgb(238, 238, 238);
}

.skills-soon-block {
    float: right;
    height: 203px;
    width: 237px;
    background: rgb(238, 238, 238);
}

.skills-now-block h3, .skills-soon-block h3 {
    color: black;
}

.odd-item {
    background: rgb(204, 204, 204);
}

ul {
    margin-top: 8px;
    padding: 0;
}

li {
    font-size: 13px;
    list-style: none;
    text-indent: 15px;
    line-height: 18px;
}
