.button {
    display: block;
    padding: 20px 16px;
    background-color: palegoldenrod;
    color: #000;
    font-size: 14px;
    transition: 0.5s;
}

button:hover {
    background-color: palegreen;
    font-size: 14px;
}