* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  height: 100%;
  color: #222;
  background-color: #F6F4FE;
  font-size: 62.5%;
  line-height: 1.4;
}

body {
  width: 100%;
  height: 100%;
}

h1 {
  font-family: "Dancing Script", cursive;
  font-size: 3.2em;
  color: white;
}

figure {
  background-color: white;
  border-radius: 1rem;
  -webkit-box-shadow: 0 0px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 0px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  padding: 1rem;
  padding-bottom: 0;
  margin: 0 3rem;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 0.5rem 0.5rem 0 0;
}

figcaption {
  font-family: "PT Serif", serif;
  padding: 1rem 0;
  color: rgba(0, 0, 0, 0.60);
  font-size: 1.2em;
}

strong {
  color: #20096A;
}

@media only screen and (min-width: 760px) {
  #first-row {
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 760px;
    margin: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #img-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 345px;
    flex: 0 0 345px;
    margin: 4.5rem 1rem 4.5rem 0rem;
  }
  #tribute-info p {
    padding: 0;
    margin-right: 3rem;
  }
  #timeline {
    max-width: 760px;
    margin: auto;
  }
}

@media only screen and (min-width: 950px) {
  body {
    font-size: 120%;
  }
  #first-row {
    max-width: 950px;
  }
  blockquote {
    max-width: 430px;
  }
  #timeline {
    max-width: 950px;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 4.5rem 3rem 2rem 3rem;
  }
  #timeline::before {
    left: 50%;
    top: 11rem;
    height: calc(100% - 15.5rem);
  }
  section {
    margin: 0;
    width: 45%;
  }
  section:nth-child(odd) {
    -ms-flex-item-align: end;
        align-self: flex-end;
    margin-top: -2rem;
  }
  section:nth-child(even) {
    margin-top: -2rem;
  }
  section:nth-child(even)::before {
    left: 100%;
    right: initial;
    border-color: transparent transparent transparent #D0DBF5;
  }
  section .fa {
    top: 0.25rem;
    width: 4rem;
    height: 4rem;
    line-height: 4rem;
  }
  section:nth-child(even) .fa {
    left: calc(111.111111111111% - 2rem);
    right: initial;
  }
  section:nth-child(odd) .fa {
    right: calc(111.111111111111% - 2rem);
  }
  h2 {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    padding-bottom: 5rem;
  }
  #link a:hover {
    -webkit-box-shadow: 0 0px 20px rgba(0, 0, 0, 0.38), 0 6px 6px rgba(0, 0, 0, 0.46);
            box-shadow: 0 0px 20px rgba(0, 0, 0, 0.38), 0 6px 6px rgba(0, 0, 0, 0.46);
  }
  #link a:active {
    -webkit-box-shadow: 0 0px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
            box-shadow: 0 0px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  }
}