* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

ul {
    list-style: none;
}

li {
    text-decoration: none;
}

body {
    width: 1110px;
    margin: 0 auto;
    counter-reset: product-price 21;
}

.header {
    padding: 35px 0;
}

.logo {
    float: left;
}

.nav-item {
    float: right;
    margin-left: 20px;
}

.nav-item > a {
    text-decoration: none;
    font-weight: bold;
    color: #0f0101;
    text-transform: uppercase;
    font-size: 14px;
}

.nav-item > a:hover {
    color: #1abc9c;
}

.product-section {
    margin-top: 60px;

}

.news-section {
    margin: 85px 0 85px;
}

.article-wrap {
    margin-top: 85px;
}

.product-section-title, 
.news-section-title {
    text-transform: uppercase;
    color: #515151;
    font-size: 48px;
    margin: 0 auto;
    text-align: center;
}

.product-section-title::after, 
.news-section-title:after {
    display: block;
    content: "";
    width:165px;
    padding: 4px 0;
    background: #1abc9c;
    margin: 25px auto 0;
}

.product-list {
    margin-top: 85px; 

}

.product-item {
    width: 255px;
    display: block;
    float: left;
}

.product-item > img {
    display: block;
    height: 282px;
    width: 255px;
}

.buy-btn{
    background: #323232;
    font-size: 18px;
    text-transform: uppercase;
    color: white;
    width: 255px;
    border: none;
    float: left;
}

.buy-btn::after {
    width: 54px;
    counter-increment: product-price 7;
    content: "$" counter(product-price);
    font-size: 18px;
    background: #8c8c8c;
    padding: 7px 0;
    float: right;   
}

.buy-btn > span {
    margin-top: 7px;
    display: inline-block;
}

.product-item:not(:nth-child(4n)) {
    margin-right: 30px;
}

.product-item:nth-child(-n+4) {
    margin-bottom: 30px;
}

.product-item:hover .buy-btn {
    background: #1abc9c;
    cursor: pointer;
}

.product-item:hover .buy-btn::after {
    background: #7fd9c7;
}

.article-img {
    width: 350px;
    height: 262px;
}

.article-title {
    font-size: 18px;
    width: 330px;
    font-weight: bold;
    color: #555252;
    padding: 10px 0;

}

.article-title::after {
    display: block;
    content: "";
    width: 155px;
    padding: 2px 0;
    background: #1abc9c;
    margin-top: 10px;
}

.article-preview {
    font-size: 14px;
    color: #555252;
    font-weight: 200px;
    width: 350px;
    padding: 15px 0;
    line-height: 1.7;
}

.article-read-more-btn {
    color: white;
    font-size: 16px;
    font-weight: 200;
    padding: 15px 45px;
    background: #1abc9c;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.article-read-more-btn:hover {
    cursor: pointer;

}

.article {
    float: left;
}

.left-marg:not(:first-child) {
    margin-left: 30px;
}
