@mixin text-decor ($size:$default-font-size, $color:$default-text-color, $align:center, $height:normal, $transform: none) {
    font-size: $size;
    color: $color;
    text-align: $align;
    line-height: $height;
    text-transform: $transform;
}

@mixin background ($image: none , $position: center, $repeat: no-repeat, $size: cover){
    background-image: $image;
    background-position: $position;
    background-repeat: $repeat;
    background-size: $size;
}

@mixin block-options ($margin: 0 auto, $padding: 0, $width: auto) {
    margin: $margin;
    padding: $padding;
    width: $width;
}

@mixin icon-decorate ($height: 20px, $width: 20px, $color: $default-icon-color) {
    height: $height;
    width: $width;
    fill: $color;
}


@mixin block-options ($margin: 0 auto, $padding: 0, $width: auto) {
    margin: $margin;
    padding: $padding;
    width: $width;
}
