@import './normalize.scss';
@import './fonts';
@import './variables.scss';
@import './mixins.scss';

* {
    margin: 0;
    padding: 0;
}

.list {
    list-style: none;
    display: flex;
}

.form {
    display: flex;
}

.link {
    text-decoration: none;
}

body {
    font-family: map-get($fonts, primary);
    font-size: $default-font-size;
    font-weight: $default-font-weight;
}

.header {
    @include background ($image: ($default-gradient, url(../img/vulture-bg@1x.jpg)));
    @media (min-resolution: 192dpi), (min-resolution: 2dppx) { 
        @include background ($image: ($default-gradient, url(../img/vulture-bg@2x.jpg)));  
    }
}

.navigation {
    justify-content: space-between;
    align-items: baseline;
    @include block-options(0 auto, 30px 0 0 0, $section-block-width);
    display: flex;
    &__logo {
        margin: 0;
        &-link  {
            @include text-decor(30px,$header-text-color );
            font-weight: 700px;
        }
    }
}

.navigation__item {
    margin-left: 55px;
    &:last-child {
        margin-left: 40px;
    }
}

.navigation__link {
    color: white;
    text-transform: uppercase;
    font-weight: 400;
    position: relative;
    &:hover {
        color: $active-link-color;
    }
    &:after{
        content: '';
        @include block-options(10px 0 0 0 ,1.5px 0, 100%);
        display: block;
        opacity: 0;
        background-color: $active-link-color;
        position: absolute;
    }
    &:hover::after {
        opacity: 1;
        transition: opacity 1s linear;
    }
}

.navigation__icon {
    @include icon-decorate(18px, 18px, $header-text-color);
    &:hover {
        fill: $active-link-color;
    }
}

.introduction {
    @include block-options(164px auto 0, 0 0 170px 0, 840px);
    &__subtitle {
        @include text-decor(72px, $header-text-color);
        margin: 0 auto;
        font-family: map-get($fonts, subtitle);
    }
    &__title {
        @include text-decor(150px, $header-text-color, center, 0.95);
        margin: 40px auto 0;
        text-transform: uppercase;
    }
    &__btn {
        @include block-options(110px auto 0 ,10px 30px);
    display: block;
    border: solid 2px $header-text-color;
    color: $header-text-color;
    text-transform: uppercase;
    background: transparent;
    font-weight: 700;
    cursor: pointer;
        &:hover {
            border: solid 2px $active-bnt-color;
            color: $active-bnt-color;
        }
    }
}

.services {
    @include block-options(48px auto 0, 0, $section-block-width);
}

.services__subtitle, 
.team__subtitle {
    @include text-decor(30px, $title-text-color, center);
    margin: 0 auto;
    font-family: map-get($fonts, subtitle);
}

.services__title, 
.team__title {
    @include text-decor(30px, $title-text-color, center, normal, uppercase);
    margin: 20px auto 0;
    font-weight: 700;
    &:after {
        content: '';
        display: block;
        @include block-options(40px auto 0, 1.5px 0, 60px);
        background: #f38181;
    }
}

.services__list {
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 70px;
}

.services__item {
    width: 285px;
    padding-left: 60px;
    position: relative;
    &:nth-child(-n+3) {
        margin-bottom: 100px;
    }
    &-title {
        color: #333333;
        text-transform: uppercase;
    }
}

.services__item-info, 
.team__info {
    @include text-decor(15px, $default-text-color, left, 1.7);
    margin-top: 15px;
    font-family: map-get($fonts, secondary);
}

.services__item-icon {
    @include icon-decorate(32px, 32px, $default-icon-color);
    position: absolute;
    transform: translate(-185%, 2%);
}

.team {
    @include block-options(90px auto 0, 0, $section-block-width);

}

 .team__info {
     @include block-options(40px auto 0, 0, 956px);
    text-align: center;
 }

 .team__list {
    justify-content: space-between;
    margin: 90px auto 0;
 }

 .team__item-photo {
    height: 470px;
    width: 380px;
    display: block; 
}

.team__item-name {
    @include text-decor(14px, $title-text-color, $transform:uppercase);
    margin-top: 20px;
}

.team__item-position {
    @include text-decor(15px,$default-text-color);
    font-family: map-get($fonts, secondary);
    font-style: italic;
    font-weight: 300;
    margin-top:10px;
}

.team__dropdown-list {
    background: $default-gradient;
    width: 100%;
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    padding: 207px 0;
}

.img-wrapper {
    position: relative;
    &:hover {
        transition: box-shadow 1s, transform 1s;
        transform: translate(-10px, -10px);
        box-shadow: 10px 10px #95e1d3;
    }
    &:hover .team__dropdown-list {
        display:flex;
    }
}

.team__dropdown-item {
    width: 56px;
    height: 56px;
    background-color: #fce38a;
    &:not(:first-child)  {
        border-left: 1px solid #f38181;
    }
    &:hover {
        background-color: #f38181;
    }
    &:hover .team__dropdown-item-icon {
        fill: #fff;
    }
    &-icon {
        @include icon-decorate(24px, 25px, $active-bnt-color);

    }
}

.team__dropdown-item > a {
    display: block;
    text-align: center;
    line-height: 5;
}

.footer {
    @include block-options(80px auto 0, 20px 0, $section-block-width);
    border-top: 1px solid lightgrey;
    display: flex;
    justify-content: space-between;
}

.copyright {
    @include text-decor(15px,$title-text-color, $height:2.5 );
}

.copyright > span {
    color:$active-bnt-color;
}

.email-form {
    &__input {
    width: 230px;
    font-family: map-get($fonts, secondary);
    font-size: 15px;
    font-style: italic;
    font-weight: 300;
    color: $default-text-color;
    }
    &__submit {
    width: 150px;
    background-color: $default-icon-color;
    border: none;
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    border-right: none;
        &:hover {
            background: $default-gradient;
        }
    }
}
