$fonts: (
    primary: #{''Montserrat'', 'sans-serif'},
    secondary: #{''Roboto'', 'sans-serif'},
    subtitle: #{''KaushanScript'', 'sans-serif'}
);

$default-font-size: 14px;
$section-block-width: 1200px;

// $colors: (
//     icon: #95e1d3,
//     link: #fce38a,
//     default-text: #999999,
//     header-text: #fff,
//     title-text: #333333,
//     bnt: #f38181
// );

$default-icon-color: #95e1d3;
$active-link-color: #fce38a;;
$default-font-weight: 400;
$default-text-color: #999999;
$header-text-color: #fff;
$title-text-color: #333333;
$active-bnt-color: #f38181;

$default-gradient: linear-gradient( 360deg, rgba(252,227,138, .9), rgba(243,129,129, .9));