.owerlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5)
}

.modal {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    height: 30%;
    background-color: paleturquoise;

}

.close {
    position: absolute;
    top: 0;
    right: 0;
    font-weight: 700px;
    font-size: 17px;
    padding: 5px;
    cursor: pointer;
}