* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

li {
    text-decoration: none;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

.intro-section , .team-section {
    min-width: 320px;
}

.header {
    background-image: url('../img/bg-s.png');
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
}

.logo__link {
    font-size: 20px;
    color: white;
}

.nav__registration-btn {
    color: white;
    width: 85px;
    background: transparent;
    padding: 10px 0;
    border: 2px solid white;
    border-radius: 25px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

.nav__registration-btn:last-child {
    margin-left: 10px;
}

.nav__registration-btn:hover {
    border: none;
}

.team-section__see-more-btn,
.intro-section__find-btn {
    font-size: 14px;
    background: transparent;
    border-radius: 25px;
    display: block;
    padding: 10px 0;
    margin: 0 auto;
    font-weight: bold;
    cursor: pointer;
}

._red_bottom-btn {
    border: 2px solid #ff4e50;
    color: #ff4e50;
    width: 280px;
    margin-top: 25px;
}

._red_bottom-btn:hover {
    background: #ff4e50;
    color: white;
}

._red_top-btn {
    border: 2px solid #ff4e50;
    color: white;
    background: #ff4e50;
    width: 280px;
    margin: 25px auto;
}

._red_top-btn:hover {
    background: transparent;
    color: #ff4e50;
}

.center-wrapper {
   padding-left: 0;
   padding-right: 0;
   margin-top: 30px;
   padding-bottom: 130px;
}

.intro-section__title {
    text-transform: uppercase;
    color: white;
    font-size: 30px;
    margin: 0 auto;
    text-align: center;
}

.intro-section__subtitle {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: white;
    width: 220px;
    text-align: center;
    margin: 0 auto;
}

.team-section {
    margin: 70px auto 40px;

}

.team-section__title {
    font-size: 22px;
    font-weight: 700;
    text-align: center;
}

.team-list__item {
    width: 222px;
    margin: 0 auto;
    margin-top: 2rem;
}

.team-list__img {
    margin: 0 auto;
    display: block;
    height: 121px;
    width: 121px;
 }
 
 .team-list__name {
     margin-top: 10px;
     font-size: 14px;
     font-weight: 700;
     text-transform: capitalize;
     text-align: center;
     position: relative;
 }

 .img-wrapper:after{
    content: "";
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    height: 41px;
    width: 41px;
    display: block;
    transform: translate(138px, -45px);
}

._icon_tv::after {
    background-image: url("../img/Shape-tv.png");
}

._icon_beaker:after {
    background-image: url("../img/Shape-battle.png");
}

._icon_cup:after {
    background-image: url('../img/Shape-cup.png')
}

._icon_plane:after {
    background-image: url('../img/Shape-plane.png')
}

 .team-list__description {
    margin-top: 10px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: #666666;
    font-size: 14px;
}

@media (max-width:767px) {
    .logo {
        margin-top: 90px;
    }
    .reg {
        margin-top: 15px;
    }
    .nav {
        margin-left: 10px;
    }
}

@media (max-width: 576px) {
    .intro-section {
        max-width: 320px;
    }
}

@media (min-width: 768px) {
    .header {
        background-image: url("../img/bg-m.png");
    }

    .nav {
        padding-top: 30px;
    }

    ._red_top-btn, ._red_bottom-btn {
        margin-top: 35px;
        width: 230px;
    }

    .center-wrapper {
        margin-top: 145px;
        padding-bottom: 190px;
    }

    .intro-section__title {
        font-size: 52px;
    }

    .intro-section__subtitle {
        width: 100%;
        font-size: 24px;
        margin-top: 30px;
    } 
}

@media (min-width: 990px) {
    .header {
        background-image: url('../img/bg-l.jpg');
    }

}