.header {
    padding: 200px 0;
    background-repeat: no-repeat;
    background-image: url('https://cdn-images-1.medium.com/max/2000/1*HSisLuifMO6KbLfPOKtLow.jpeg');
    background-size: cover;
    background-position: center;
}