.info {
    padding: 0 16px;
    flex-basis: 21%;
    position: relative;
    top: -90px;
}


.photo {
    
    width: 300px;
    height: 300px;
    display: block;
    border-radius: 10px;
    border: 3px solid white;
    margin-bottom: 16px;
}

.name {
    text-transform: capitalize;
}

.nickname {
    font-size: 12px;
}