.item {
    flex-basis: 20%;
    background-color: gainsboro;
    padding: 20px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3), 0 4px 8px rgba(0, 0, 0, 0.3);
    margin: 20px;
    border-radius: 5px;

}

.item:hover {
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.6), 0 4px 8px rgba(0, 0, 0, 0.6);
}
