body {
    background: #888;
    font-family: sans-serif;
}

.main-block {
    width: 480px;
    height: 600px;
    margin: 88px auto;
    background: #333;
    border: 4px solid white;
    box-shadow: 5px 5px 5px  rgba(0, 0, 0, .7);

}

.inner-block {
    width: 400px;
    height: 485px;
    margin: 10px auto;
    background-color: #333;
    border-bottom: 6px solid black;
    border-top: 4px solid white;  
}

h2 {
    text-align: center;
    text-transform: uppercase;
    color: #f3f3f3;
    margin: 15px;
}

#changing-image { 
    width: 200px;
    height: 200px;
    margin: 0px auto;
    display: block;
    
    border-radius: 100%;
}

p {
    color: #eee;
}

.special-item {
    color: green;
}

#bottom-button {
    display: block;
    margin: 25px auto;
    height: 30px;
    width: 137px;
    font-size: 14px;
    text-transform: capitalize;
    font-weight: bold;  
}