body {
  background: paleturquoise
}
* {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
  margin: 0 auto;
}

.form {
  text-align: center;
  padding-top: 60px;
}

.text {
  padding: 15px;
  border: palegreen 2px solid;
  font-size: 17px;
}

.add {
  padding: 17px;
  background-color: palegreen;
  border: none;
  font-size: 17px;
}


.list-item {
  padding: 10px 20px;
  background-color: palegreen;
  cursor: pointer;
  width: 300px;
}

.done {
  text-decoration: line-through;
  background-color: palevioletred;
}

