.image {
    width: 100%;
    display: block;
    margin: 0 auto;
    height: 200px;
    border-radius: 2px;
    object-fit:cover;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2), 0 4px 8px rgba(0, 0, 0, 0.2);
}