        <section class="section12">
                <div class="section12-text">
                <h2 class="section12-text__title">[ Он за руку введет тебя в профессию ]</h2>
                <p class="section12-text__subtitle">И буквально «имплантирует» 
                        свои практические навыки 
                        в твой мозг, чтобы ты смог 
                        стартовать легко!
                        </p>
                </div>
                <picture class="section12__img">
                        <source media="(max-width:479px)"
                             srcset="./img/sec12-man_320@2X.png 2X">
                        <source media="(min-width: 480px) and (max-width:767px)"
                             srcset="./img/sec12-man_480@1X.png 1x, ./img/sec12-man_480@1X.png 2x">    
                        <source media="(min-width: 768px) and (max-width:959px)"
                             srcset="./img/sec12-man_768@1X.png 1x, ./img/sec12-man_768@2X.png 2x">
                        <source media="(min-width: 960px) and (max-width: 1199px)"
                             srcset="./img/sec12-man_960@1X.png 1x, ./img/sec12-man_960@2X.png 2x">
                        <source media="(min-width: 1200px) and (max-width: 1439px)"
                             srcset="./img/sec12-man_1200@1X.png 1x, ./img/sec12-man_1200@2X.png 2x">         
                        <source media="(min-width: 1440px)"
                             srcset="./img/sec12-man_1440@1X.png 1x, ./img/sec12-man_1440@2X.png 2x">
                         <img src="./img/sec12-man_320@1X.png" alt="Working-place">              
                </picture>
                <div class="section12-info">
                    <p class="section12-info__headline">У него ушло 
                            более 7 лет чтобы 
                            создать систему 
                            обучения</p>
                    <p class="section12-info__text">Простую понятную, легкую 
                            не для «математических гениев», 
                            а для обычных людей, чтобы любой смог быстро начать 
                            карьеру в IT!
                            </p>
                
                </div>


</section>