@import url('./normalize.css');
@import url('./fonts.css');

* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

li {
    text-decoration: none;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Montserrat';
    font-size: 14px;
}

.header {
    background-image: linear-gradient( 360deg, rgba(252,227,138, .9), rgba(243,129,129, .9)), url(../img/vulture-bg@1x.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 30px;
    width: 1200px;
    margin: 0 auto;
}

.navigation__logo {
    margin: 0;
}

.navigation__logo-link {
    color: white;
    font-weight: 700px;
    font-size: 30px;
}

.navigation-list {
    display: flex;
}

.navigation__item {
    margin-left: 55px;
}

.navigation__item:last-child {
    margin-left: 40px;
}

.navigation__link {
    color: white;
    text-transform: uppercase;
    font-weight: 400;
    position: relative;
}

.navigation__link:hover, 
.navigation__icon:hover {
    color: #fce38a;
    fill: #fce38a;
}

.navigation__link:after {
    content: '';
    width: 100%;
    opacity: 0;
    padding: 1.5px 0;
    background-color: #fce38a;
    display: block;
    position: absolute;
    margin-top: 8px;
    transition: opacity 1s linear;
}

.navigation__link:hover:after {
    opacity: 1;
}

.navigation__icon {
    width: 18px;
    height: 18px;
    fill: #fff;
}

.introduction {
    width: 840px;
    margin: 164px auto 0;
    padding-bottom: 170px;
}

.introduction__subtitle {
    font-size: 72px;
    color: #fff; 
    margin: 0 auto;
    font-family: 'KaushanScript';
    text-align: center;
}

.introduction__title {
    font-size: 150px;
    color: white;
    margin: 40px auto 0;
    line-height: .95;
    text-align: center;
    text-transform: uppercase;
}

.introduction__btn {
    border: solid 2px #fff;
    margin: 0 auto;
    display: block;
    text-transform: uppercase;
    color: #fff;
    background: transparent;
    cursor: pointer;
    padding: 10px 30px;
    font-weight: 700;
    margin-top: 110px;
}

.introduction__btn:hover {
    border: solid 2px #f38181;
    color: #f38181;
}

.services {
    width: 1200px;
    margin: 48px auto 0;
}

.services__subtitle, 
.team__subtitle {
    margin: 0 auto;
    font-family: 'KaushanScript';
    text-align: center;
    font-size: 24px;
}

.services__title, 
.team__title {
    text-align: center;
    text-transform: uppercase;
    margin: 20px auto 0;
    font-size: 30px;
    font-weight: 700;
}

.services__title:after,
.team__title:after {
    content: '';
    display: block;
    padding: 1.5px 0;
    background: #f38181;
    margin: 0 auto;
    width: 60px;
    margin-top: 40px;
}

.services__list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 70px;
}

.services__item {
    width: 285px;
    padding-left: 60px;
    position: relative;
}

.services__item:nth-child(-n+3) {
    margin-bottom: 100px;
}

.services__item-title {
    color: #333333;
    text-transform: uppercase;
}

.services__item-info, 
.team__info {
    margin-top: 15px;
    color: #999999;
    font-family: 'Roboto';
    font-size: 15px;
    line-height: 1.7;
}

.services__item-icon {
    width: 32px;
    height: 32px;
    display: block;
    fill: #95e1d3;
    position: absolute;
    transform: translate(-185%, 2%);
}

.team {
    margin: 90px auto 0;
    width: 1200px;
}

 .team__info {
    width: 956px;
    text-align: center;
    margin: 40px auto 0;
 }

 .team__list {
     display: flex;
     justify-content: space-between;
     margin: 90px auto 0;
 }

 .team__item-photo {
    height: 470px;
    width: 380px;
    display: block; 
}

.team__item-name {
    color: #333333;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 20px;
}

.team__item-position {
    color: #999999;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-style: italic;
    font-weight: 300;
    text-align: center;
    margin-top:10px;
}

.img-wrapper {
    position: relative;
}

.img-wrapper:hover {
    transition: box-shadow 1s, transform 1s;
    transform: translate(-10px, -10px);
    box-shadow: 10px 10px #95e1d3;
}

.img-wrapper:hover > 
.team__dropdown-list {
    display:flex;
}

.team__dropdown-list {
    background-image: linear-gradient( 360deg, rgba(252,227,138, .9), rgba(243,129,129, .9));
    width: 100%;
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    padding: 207px 0;
}

.team__dropdown-item {
    width: 56px;
    height: 56px;
    background-color: #fce38a;
}

.team__dropdown-item > a {
    display: block;
    text-align: center;
    line-height: 5;
}

.team__dropdown-item:not(:first-child) {
    border-left: 1px solid #f38181;
}

.team__dropdown-item:hover {
    background-color: #f38181;
}

.team__dropdown-item:hover 
.team__dropdown-item-icon {
    fill: #fff;
}

.team__dropdown-item-icon {
    height: 26px;
    width: 26px;
    display: inline-block;
    text-align: center;
    fill: #f38181;
}

.footer {
    margin: 80px auto 0;
    width: 1200px;
    border-top: 1px solid lightgrey;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
}

.copyright {
    color: #333333;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 3.5;
}

.copyright > span {
    color:#f38181;
}

.email-form {
    display: flex;
}

.email-form__input {
    width: 230px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-style: italic;
    font-weight: 300;
    color: #cccccc;
}

.email-form__submit {
    width: 150px;
    background-color: #95e1d3;
    border: none;
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-size: 14px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    border-right: none;
}

@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), 
       (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .header {
        background-image: linear-gradient( 360deg, rgba(252,227,138, .9), rgba(243,129,129, .9)), url('../img/vulture-bg@2x.jpg');
    }
}
