@font-face {
    src: url('../fonts/KaushanScript-Regular.ttf') format('truetype');
    font-family: 'KaushanScript';
    font-weight: 400;
    font-style: normal;
}

@font-face {
    src: url('../fonts/Montserrat-Bold.ttf') format('truetype');
    font-family: 'Montserrat';
    font-weight: 700;
    font-style: normal;
}

@font-face {
    src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
    font-family: 'Montserrat';
    font-weight: 400;
    font-style: normal;
}

@font-face {
    src: url('../fonts/Roboto-LightItalic.ttf') format('truetype');
    font-family: 'Roboto';
    font-weight: 300;
    font-style: italic;
}

@font-face {
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-family: 'Roboto';
    font-weight: 400;
    font-style: normal;
}