body {
    background-color: #3f3f3f;
}
.interiorBlock {
    background: white;
    width: 150px;
    height: 100px;
    box-shadow:  0px 2px;
    display: block;
    margin: 2px auto;
}

.logoImage {
    width: 135px;
    height: 45px;
    padding-top: 14px;
    padding-left: 8px;
}

.searchHyperlink {
    display: block;
    margin: 10px 25px 20px;
}



