.list-item {
    flex-basis: 15%;
    background-color: paleturquoise;
    padding: 20px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3), 0 4px 8px rgba(0, 0, 0, 0.3);
    margin: 20px;
    border-radius: 5px;

}

.list-item:hover {
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.6), 0 4px 8px rgba(0, 0, 0, 0.6);
}

.list-item > p {
    margin-bottom: 10px;

}

.list-item > button {
    border: none;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2), 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    padding: 3px;
    background-color: palegoldenrod;
    border-radius: 4px;
    width: 50px;
}

.list-item > button:hover {
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3), 0 4px 8px rgba(0, 0, 0, 0.3);
}

.list-item > button:last-child {
    margin-left: 10px;

}