#first-row {
    position: relative;
    top: -3rem;

}

#img-div {
    max-width: 400px;
    margin: auto;
  }

  figure {
  background-color: white;
  border-radius: 1rem;
  -webkit-box-shadow: 0 0px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 0px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  padding: 1rem;
  padding-bottom: 0;
  margin: 0 3rem;
}

  #tribute-info p {
    text-align: justify;
    color: rgba(0, 0, 0, 0.75);
    font-family: "PT Serif", serif;
    font-size: 1.6em;
    padding: 3rem;
    padding-bottom: 0rem;
  }

  
  #quote {
    background-color: #440467;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  #first-row {
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 760px;
    margin: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  blockquote {
    text-align: center;
    color: #FFD300;
    font-family: "Dancing Script", cursive;
    font-size: 2.4em;
    max-width: 240px;
    padding: 4.5rem 0;
  }
  