* {
   padding: 0;
   margin: 0;
}
body {
  font-family: "Roboto", sans-serif;
  background: #fff;
}


.button {
  min-width: 88px;
  height: 36px;
  padding: 0 16px;
  border: 0;
  outline: 0;
  border-radius: 2px;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  background-color: #004c40;
  margin-top: 15px;
  cursor: pointer;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3), 0 4px 8px rgba(0, 0, 0, 0.3);
  &:hover {
     box-shadow: 0 2px 3px rgba(0, 0, 0, 0.6), 0 4px 8px rgba(0, 0, 0, 0.6);
     background-color: #00796b;
  }
}
 
.form {
  padding: 4px 20px; 
  display: inline-block;
  margin-bottom: 30px;
}

.input {
  margin-right: 12px;
  padding: 4px;
  outline: 0;
  border: 0;
  color: #263238;
  font-size: 14px;
  background-color: transparent;
  border-bottom: 2px solid #00796b;
  width: 230px;
}

.input::placeholder{
    color: #616161;
}


ul {
  list-style: none;
}

li {
  list-style: none;
}

.root-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
}


.item {
  width: 16%;
  padding: 20px 20px;
  margin-bottom: 25px;
  border: 0;
  outline: 0;
  border-radius: 2px;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  background-color: #004c40;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3), 0 4px 8px rgba(0, 0, 0, 0.3);
  text-align: center;
  &:hover {
     box-shadow: 0 2px 3px rgba(0, 0, 0, 0.6), 0 4px 8px rgba(0, 0, 0, 0.6);
     background-color: #00796b;
  }
}



.error {
  display: inline-block;
  width: 16%;
  padding: 20px 20px;
  margin-bottom: 25px;
  border: 0;
  outline: 0;
  border-radius: 2px;
  color: #000;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  background-color: #811616;
  text-align: center;
}

.succsess {
  width: 16%;
  padding: 20px 20px;
  margin-bottom: 25px;
  border: 0;
  outline: 0;
  border-radius: 2px;
  color: #000;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  background-color: #c4b31c;
  text-align: center;
}

.js-site-img {
  max-width: 200px;
  height: auto;
  object-fit:cover;
  display: block;
  margin: 15px auto;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3), 0 4px 8px rgba(0, 0, 0, 0.3);
  border-radius: 2px;

}

.site-description {
  font-size: 14px;
  color: #000;
  text-transform: lowercase;
  font-style: italic;
}