* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

ul {
    list-style: none;
    font-family: "Roboto Mono", monospace;
    font-size: 45px;
}
  
  body {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

  }
  
  .js-root {
    padding: 30px;
    text-align: center;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.2);
    color: #212121;
    border-radius: 2px;
    margin: 30px;
    width: 600px;
  }
  
  .js-time {
    margin-bottom: 15px;
    font-family: "Roboto Mono", monospace;
    font-size: 80px;
  }
  
  .btn {
    display: inline;
    text-transform: uppercase;
    border: 0;
    background-color: #212121;
    color: #ffffff;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 28px;
    border-radius: 2px;
    font-family: "Roboto", sans-serif;
    margin: 0 5px;
  }

  .js-start {
      width: 200px;
  }
  
  .active {
    background-color: #2196F3;
  }
  